/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
    background-color: #fffef8;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/** end reset css**/
body {
    max-width: 1140px;
    margin: auto;
    font-family: "Work Sans";
    font-size: 14px;
}
header {
    display: flex;
    justify-content: space-between;
    margin: 50px 0;
}
section {
    margin: 50px 0;
}

h1 {
    display: flex;
    flex-direction: column;
    font-family: "Syne";
    font-size: 22px;
    font-weight: 800;
    color: #b1663c;
}

h1 > span {
    font-family: "Work Sans";
    font-size: 10px;
    letter-spacing: 0.1em;
}

h2 {
    font-family: "Syne";
    font-weight: 700;
    font-size: 30px;
    color: #1d6154;
}
nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
}
nav li {
    padding: 0 10px;
    font-size: 1.2em;
}

li:hover {
    color: #b1663c;
}
#introduction {
    display: flex;
    align-items: center;
}
#introduction figure {
    flex: 1;
}
#introduction img {
    display: block;
    margin: auto;
    width: 80%;
}

#introduction article {
    flex: 1;
}
#introduction h2 {
    margin-bottom: 1em;
}

#introduction p {
    margin-bottom: 0.5em;
}
#portfolio h2 {
    text-align: center;
}
.gallery {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.gallery img {
    width: 100%;
}
#contact {
    width: 50%;
    margin: auto;
}
#contact > * {
    text-align: center;
}
#contact h2 {
    margin-bottom: 20px;
}
#contact form {
    text-align: left;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

#contact input {
    height: 50px;
    font-size: 1.2em;
    border: none;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
    margin: 2em 0 1em 0;
}
#contact textarea {
    border: none;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
    font-family: "Syne";
    font-weight: 700;
    color: white;
    background-color: #1d6154;
    margin: 2em auto;
    width: 180px;
    text-align: center;
    border-radius: 60px;
}

footer nav ul {
    display: flex;
    justify-content: flex-end;
    margin: 2em;
}

/* categories filtres styles */

.categories {
    display: flex;
    justify-content: center;
    gap: 8px;
}

.categories button {
    border: solid 1px #1d6154;
    color: #1d6154;
    background-color: white;
    border-radius: 25px;
    padding: 8px 24px;
    font-family: "Work Sans";
    font-weight: bold;
    text-align: center;
}

.categories button:hover {
    background-color: #1d6154;
    color: white;
}

/* formularie styles */

#btn-login {
    font-weight: bold;
}

.form-style {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    height: 700px;
    width: 100%;
    margin-top: 160px;
    text-align: center;
}

a {
    color: black;
    text-decoration: none;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 8px;
    margin-bottom: 24px;
}

.form-style h2 {
    margin-bottom: 40px;
    color: #1d6154;
    font-size: 32px;
}

.form-group input {
    width: 250px;
    height: 50px;
    font-size: 1.2em;
    border: none;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
    width: 400px;
}

#btn-validation {
    width: 200px;
    height: 40px;
    font-size: 15px;
    margin-top: 16px;
    margin-bottom: 0px;
}

.error-message {
    color: #b00020;
    background-color: #fddede;
    border-left: 4px solid #b00020;
    font-weight: 500;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    transition: opacity 0.3s ease-in-out;
    text-align: start;
    padding: 8px 16px;
}

.hidden {
    display: none !important;
}

/* style nav links */
nav li {
    cursor: pointer;
}

/* style edition mode */

.edition-mode {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    color: white;
    background-color: black;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 999;
}

.modify {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

#modify-button {
    display: flex;
    gap: 8px;
    height: 16px;
    border: none;
    background-color: #fffef8;
}

/* modal styles */

#modal {
    position: absolute;
    background-color: white;
    border-radius: 16px;
    top: 920px;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 0 400vmax rgb(0, 0, 0, 0.6);
    width: 732.5px;
    height: 731.516px;
}

#modal .gallery {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 8px;
    width: 70%;
    margin: 32px auto;
    padding-bottom: 64px;
    border-bottom: solid 1px #b3b3b3;
}

.modal-buttons {
    display: flex;
    justify-content: space-between;
    border: none;
    margin: 24px;
}

.modal-buttons button {
    border: none;
    background-color: white;
    font-size: 20px;
}

.back-close-buttons {
    display: flex;
    justify-content: end;
    border: none;
    margin: 24px;
}

.back-close-buttons button {
    border: none;
    background-color: white;
    font-size: 20px;
}

.tittle-modal {
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
}

.tittle-modal h2 {
    color: black;
    font-weight: lighter;
}

#button-modal {
    display: flex;
    justify-content: center;
    margin: 24px 0px;
}

.valider {
    background-color: #a7a7a7;
    color: white;
    font-family: "Syne";
    font-weight: 100;
    padding: 8px 10px;
    border-radius: 25px;
}

#button-modal :hover {
    opacity: 0.9;
}

.ajouter {
    color: white;
    background-color: #1d6154;
    font-family: "Syne";
    font-weight: 100;
    padding: 8px 32px;
    border-radius: 25px;
}

#modal-images figure {
    position: relative;
}

#modal-images button {
    position: absolute;
    bottom: 75%;
    right: 5%;
    width: fit-content;
    height: 28px;
    color: white;
    background-color: black;
    border-radius: 4px;
}

/* MODAL AÑADIR FOTO */
#add-photo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 431.516px;
    margin: 32px auto;
    padding-bottom: 64px;
    border-bottom: solid 1px #b3b3b3;
}

#select-file {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 512.75px;
    height: 200px;
    background-color: #e8f1f6;
    margin: 24px 0;
}

#select-file i {
    color: #b9c5cc;
    font-size: 72px;
    margin: 24px 0 8px 0;
}

#select-file label {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #306685;
    background-color: #b9c5cc;
    border-radius: 20px;
    height: 24px;
    padding: 8px 24px;
    margin-bottom: 16px;
    width: 140px;
}

#select-file p {
    font-size: 11px;
}

#title-file {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 16px 0;
}

#title-file input {
    height: 48px;
    padding-left: 16px;
    border: none;
    box-shadow: 1px 2px 16px #b9c5cc;
}

#category-file {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 16px 0;
}

#category-file select {
    height: 48px;
    padding-left: 16px;
    appearance: none;
    border: none;
    outline: none;
    box-shadow: 1px 2px 16px #b9c5cc;
}

#category-file i {
    position: absolute;
    right: 140px;
    top: 515px;
    pointer-events: none;
}
